<table class="table text-center">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Banda</th>
            <th>Genero</th>
            <th>Año de lanzamiento</th>
            <th>Calificacion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cancion of canciones" [ngClass]="{'rock': cancion.genero=='Rock'}">
            <td>{{cancion.nombre}}</td>
            <td>{{cancion.banda}}</td>
            <td>{{cancion.genero}}</td>
            <td>{{cancion.anio}}</td>
            <td>
                <app-calificacion [(calificacion)]="cancion.calificacion" ></app-calificacion>
            </td>
        </tr>
    </tbody>
</table>
