<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Banda</th>
            <th>Genero</th>
            <th>Año de lanzamiento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{cancion.nombre}}</td>
            <td>{{cancion.banda}}</td>
            <td>{{cancion.genero}}</td>
            <td>{{cancion.anio}}</td>
        </tr>
        <tr>
            <td>Come as You Are</td>
            <td>Nirvana</td>
            <td>Rock</td>
            <td>1991</td>
        </tr>
        <tr>
            <td>No Surprises</td>
            <td>Radiohead</td>
            <td>Rock</td>
            <td>1997</td>
        </tr>
    </tbody>
</table>
